.btn1 {
  background-color: rgb(184, 152, 213);
  color: white;
  border: 1px solid white;
  padding: 1rem;
}

.btn2 {
  background-color: rgb(229, 219, 165);
  color: white;
  border: 1px solid white;
  padding: 1rem;

}

.btn1:hover {
  background-color: burlywood;
  color: white;
}

.btn2:hover {
  background-color: rgb(222, 184, 135);
  color: white;
}
